<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
<beans>
<bean id="t"  class="beans.Test">
    
    <property name="name" >
    <list>
    <value>Aditi</value>
    <value>Komal</value>
    <value>Supriya</value>
    <value>Aishwarya</value>
    </list>
    </property>

</bean>
</beans>